
<h1> Sign up </h1>

<form action=" <%= users_url %>" method="post">
  <%= form_auth %>
  <label for="email">Email:</label>
  <input type="text" name="user[email]" id = "email">

  <label for="password">Password:</label>
  <input type="text" name="user[password]" id ="password">

  <input type="submit" value="Create User">
</form>
